@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Roboto&display=swap");

@import url(styles/navigation.css);
@import url(styles/header.css);
@import url(styles/recipe-gallery.css);
@import url(styles/footer.css);
@import url(styles/profile.css);
@import url(styles/recipe-gallery.css);
@import url(styles/favorite-gallery.css);
@import url(styles/collection.css);

body {
  font-family: "Nunito";
  margin: 0px;
  padding: 0px;
  min-width: 400px;
  color: #272142;
}

h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  padding-top: 50px;
  padding-bottom: 5px;
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 30px;
  max-width: 460px;
}

.shecodes-logo {
  width: 150px;
  height: 25px;
}

h3 {
  font-size: 64px;
  text-align: left;
  margin: 0;
  padding: 0;
}

@media (max-width: 700px) {
  h3 {
    font-size: 40px;
  }
}

h4 {
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
}

h5 {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
}
