body {
  font-family: "Nunito";
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  width: 1440;
  padding: 50px 140px;
  margin: 0 auto;
}

.shecodes-logo {
  width: 150px;
  height: 25px;
}

.navigation {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  color: #272142;
}

.nav-active {
  color: #662eed;
}

.nav-mobile {
  display: none;
}

@media (max-width: 799px) {
  .navigation-bar {
    width: 80%;
    min-width: 300px;
  }

  .navigation {
    display: none;
  }

  .nav-mobile {
    display: block;
    width: 25px;
  }

  .drop-menu {
    width: 30%;
    z-index: 2;
    display: none;
  }

  .drop-menu-active {
    z-index: 2;
    background-color: white;
    width: 200px;
    display: flex;
    flex-direction: column;
  }

  .hamburger {
    width: 25px;
    filter: invert(10%) sepia(7%) saturate(6449%) hue-rotate(215deg)
      brightness(103%) contrast(91%);
  }
}
