.header {
  width: 100%;
  background-image: url(/images/banner.png);
  color: #ffffff;

  height: 265px;
  margin-bottom: 50px;
}

@media (max-width: 599px) {
  .header {
    height: fit-content;
  }
}

header {
  text-align: center;
}
